/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.cdnfonts.com/css/georgia');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
  --color-primary: #FFF;
  --color-secondary: #000;
  --font-base: 'Georgia', sans-serif;
  --font-size-menu-text: 22px;
  --primary-bg: #000;
  --font-weight-700: 700;
  --width-100:100%;
}
body{
  background-color: #000 !important;
}
button.submit_button {
  font-size: 14px !important;
  font-weight: 500 !important;
}

.add_button_wraper>button {
  font-size: 14px !important;
  font-weight: 500 !important;
}
input.search_box {
  padding-left: 0px !important;
}