<img src="./img/bg-backup.png" class="wrape_img" />
<div class="pages">
  <div class="sub_header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3">
          <div class="company_title d-flex align-items-center">
            <h4>Company Screening</h4>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="d-flex width-100 gap-4">
            <div class="chat_exp_btn">
              <button>Chat ExM</button>
            </div>
            <div class="sq_tool  d-flex align-items-center">
              <a>Sequoia
                <span>
              <img src="./img/g_logo.png" alt="" class="g_logo">
            </span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-3"></div>
      </div>
    </div>
  </div>
  <!-----------------main-list-container------------->
  <criteria></criteria>
  <!------------------feature item-list------------------------->
  <div class="feature_list_wraper">
    <div class="container-fluid">
      <div class="section_header">
        <h2>
          Explore Company Criteria Below
        </h2>
      </div>
      <div class="full_row">
        <div class="ft_icon_cart" routerLink="/sectors-industries">
          <div class="inner_ft_container">
            <h3>Sectors and Industries</h3>
            <div class="icon_box">
              <span>
                <img src="./img/cog.png" alt="">
              </span>
            </div>
          </div>
        </div>
        <!------------------next----------------->
        <div class="ft_icon_cart" routerLink="/business-description">
          <div class="inner_ft_container">
            <h3>Business
              Description</h3>
            <div class="icon_box">
              <span>
                <img src="./img/doc-cog.png" alt="">
              </span>
            </div>
          </div>
        </div>
        <!------------------next----------------->
        <div class="ft_icon_cart" routerLink="/locations">
          <div class="inner_ft_container">
            <h3>Locations</h3>
            <div class="icon_box">
              <span>
                <img src="./img/glob.png" alt="">
              </span>
            </div>
          </div>
        </div>
        <!------------------next----------------->
        <div class="ft_icon_cart" routerLink="/businesscycles">
          <div class="inner_ft_container">
            <h3>Company Type and Company Status</h3>
            <div class="icon_box">
              <span>
                <img src="./img/round.png" alt="">
              </span>
            </div>
          </div>
        </div>
        <!------------------next----------------->
        <div class="ft_icon_cart" routerLink="/deals-investors">
          <div class="inner_ft_container">
            <h3>Deals and Investors</h3>
            <div class="icon_box">
              <span>
                <img src="./img/groth.png" alt="">
              </span>
            </div>
          </div>
        </div>
        <!------------------next----------------->
        <div class="ft_icon_cart" routerLink="/financial-metrics">
          <div class="inner_ft_container">
            <h3>Financial Metrics</h3>
            <div class="icon_box">
              <span>
                <img src="./img/clock.png" alt="">
              </span>
            </div>
          </div>
        </div>
        <!------------------next----------------->
        <div class="ft_icon_cart">
          <div class="inner_ft_container">
            <h3>Intellectual
              Property</h3>
            <div class="icon_box">
              <span>
                <img src="./img/brain.png" alt="">
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
